.appDash {
    font-family: Roboto, sans-serif;
    background-color: var(--blueFonce);
    color: silver;
    display: flex;
    height: 100vh;
    overflow: auto;
}

.appDash .col-sm-2 {
    margin-top: 70px !important;
}

.appDash .compteConf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border-left: 1px solid #182e55;
    border-radius: 5px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    position: relative;
    height: auto;
    overflow-y: auto;
}

.dashboard h1 {
    color: #ddd;
    display: flex;
    gap: 1rem;
}

.noti {
    color: whitesmoke;
}

.dashboard .cards {
    display: flex;
}

.dashboard .cards .card:first-child {
    width: 350px !important;
}

.dashboard .cards .card:last-child {
    width: 470px !important;
}
.dashbaordMain .compteConf {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .dashboard {
        justify-content: flex-start !important;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .dashboard {
        align-items: center;
    }
}