.bureau {
   display: flex;
   width: 100% !important;
   flex-direction: column;
   margin-left: 5rem;
}

.mainBureau h1{
   font-size: 1.4rem;
   display: flex;
   align-items: center;
   gap: 2rem;
   font-weight: 200;
   margin-bottom: 3rem;
}

.mainBureau .form {
   width: 90% !important;
   padding: 0 !important;
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-top: 2rem;
   margin-left: 0;
   border: 0;
   box-shadow: none !important;
}

.mainBureau .form select {
   width: 300px !important;
   margin-top: 1rem;
}


.form .flag{
   display: flex;
   align-items: center;
   margin-top: 1rem;
}

.form .flag svg {
   width: 60px !important;
}

.mainBureau .montant {
   width: 90% !important;
   margin-top: 2rem;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 2rem;
}

.flag span{
   margin-left: 1rem;
}

.mainBureau .montant input {
   margin-top: 1rem !important;
   width: 300px !important;
}

.mainBureau .montant .montantF {
   color: rgb(190, 188, 197);
   margin-top: 1rem;
   font-size: 1.3rem;
   width: 300px !important;
}

.bureau .button button{
   padding: 1rem;
   background-color: #242f49;
   color: silver;
   font-size: 15px;
   border: 0;
   cursor: pointer;
   border-radius: 5px;
   width: 200px;
   margin-top: 5rem;
}