.bureaudechange {
   display: flex;
   height: 100vh;
   font-family: Roboto, sans-serif;
   background-color: var(--blueFonce);
   color: silver !important;
}

.bureaudechange .col-sm-2 {
   margin-top: 70px !important;
}

.bureaudechange .dataMain {
   padding-right: 1.5rem !important;
}

.bureau {
   display: flex;
   width: 100% !important;
   flex-direction: column;
   border: 1px solid #3a4a69;
   margin-top: 75px;
   border-radius: 5px;
}

.bureau input {
   width: 100%;
   box-sizing: border-box;
   border-radius: 5px;
   padding: .65rem;
   font-size: 14px;
   outline: none;
   border: 1px solid #3a4a69;
   color: silver;
   background-color: #13203b;
}

.mainBureau {
   margin-top: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   align-items: center;
   margin-bottom: 2rem;
}

.mainBureau h1 {
   font-size: 1.4rem;
   display: flex;
   align-items: center;
   gap: 2rem;
   font-weight: 200;
   margin-bottom: 1.5rem;
   justify-content: center !important;
   align-items: center !important;
}

.mainBureau .form {
   width: 100% !important;
   padding: 0 !important;
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-top: 2rem;
   margin-left: 0;
   justify-content: center !important;
   align-items: center !important;
   border: 0;
   box-shadow: none !important;
}

.mainBureau .form select {
   width: 300px !important;
   margin-top: 1rem;
}

.form .flag {
   display: flex;
   align-items: center;
   margin-top: 1rem;
}

.form .flag svg {
   width: 60px !important;
}

.mainBureau .montant {
   width: 100% !important;
   margin-top: 1rem;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}

.flag span {
   margin-left: 1rem;
}

.bureau select {
   margin-right: 2rem;
   width: 100%;
   box-sizing: border-box;
   margin-bottom: .4rem;
   border-radius: 5px;
   padding: .65rem;
   font-size: 14px;
   outline: none;
   border: 1px solid #3a4a69;
   color: silver;
   background-color: #13203b;
}

.mainBureau .montant input {
   margin-top: 1rem !important;
   width: 300px !important;
}

.mainBureau .montant .montantF {
   color: rgb(190, 188, 197);
   margin-top: 1rem;
   font-size: 1.3rem;
   width: 300px !important;
}

.bureau .button button {
   padding: 1rem;
   background-color: #242f49;
   color: silver;
   font-size: 15px;
   border: 0;
   cursor: pointer;
   border-radius: 5px;
   width: 200px;
   margin-top: 3rem;
}