.transactionContent {
    padding: 1rem 0rem;
    overflow: auto;
    font-family: 'Roboto';
}

.transactionContent {
    display: flex !important;
    flex-direction: row !important;
    background-color: #13203b;
    color: silver;
    height: 100vh;
}

.transactionContent .alertContent .btns {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.transactionContent .col-sm-2 {
    margin-top: 54px !important;
}

.transactionContent .alertContent button {
    border-radius: 5px;
    padding: .65rem;
    font-size: 14px;
    outline: none;
    border: 1px solid #3a4a69;
    color: silver;
    background-color: #0f1a32;
    cursor: pointer;
    width: auto !important;
}

.btns .col-sm-9 {
    display: flex !important;
    gap: 1rem;
}

.btns .col-sm-3 button {
    float: right;
}

.transactionContent .alertContent h6 {
    margin-top: 1rem;
}

.transactionContent .alertContent .search {
    width: 100%;
    margin-bottom: 2rem;
}

.transactionContent .alertContent .search input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: .65rem;
    font-size: 14px;
    outline: none;
    border: 1px solid #3a4a69;
    color: silver;
    background-color: #13203b;
}

.transactionContent .content {
    padding-right: 1rem;
}

table {
    border: 1px solid #3a4a69;
}

.transactionContent a {
    text-decoration: none !important;
    color: silver;
}