.appDash .cardChilds {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.appDash .cardChilds .card {
    width: 100% !important;
    border: 1px solid red !important;
}

.appDash .cardMin {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 7px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    border: 1px solid #30436a;
}

.card .cardLastChild {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.dashbaordMain .compteConf button {
    padding: .5rem 2rem;
    cursor: pointer;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: #204084;
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: #6b778f;
}

.circular {
    display: flex;
    gap: 1rem;
    border: 1px solid red;
}

.circular .cardLastChild {
    width: 100px;
}

.apexcharts-canvas {
    border: none !important;
}

.apexcharts-gridline {
    stroke: #1e2942;
}

.apexcharts-xaxis-tick {
    stroke: var(--neutral-70);
}

.apexcharts-yaxis-tick {
    stroke: var(--neutral-70);
}

.apexcharts-grid-row {
    fill: var(--neutral-70);
}

.apexcharts-title-text {
    fill: var(--neutral-100);
}

.cardsCircular {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.cardsCircular .card {
    height: auto !important;
    margin-top: 2rem !important;
    height: 200px !important;
    text-align: center !important;
    border: 1px solid #536999 !important;
    border-radius: 2px !important;
}