.mainDashboard .card {
    width: 100% !important;
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
    background-color: transparent !important;
    border-radius: 7px;
    color: silver !important;
    height: auto;
    margin-bottom: .6rem;
}

.mainDashboard .card .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #26395e;
    border-radius: 10px;
    background-color: #0b1a34 !important;
    padding: 1rem;
}


.mainDashboard .row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mainDashboard .row2 .circular img {
    width: 100% !important;
    height: 50px;
}

.mainDashboard .iconD {
    display: flex !important;
    justify-content: flex-end !important;
    text-align: right;
}

.mainDashboard .row3 {
    display: flex;
    justify-content: space-between;
}

.mainDashboard .row2 .valueDevise {
    font-size: 1.7rem;
    font-weight: bold;
}

.mainDashboard .row3 .title {
    font-weight: 900;
    margin-left: 1px;
}

.mainDashboard .circular strong {
    font-size: .8rem;
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: #13284d;
    stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: #496390;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}