.form1 p {
    background-color: #20345e;
    padding: 1rem;
    color: aliceblue;
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
}

.form1 {
    height: auto;
}

.form1 h4 {
    text-align: center;
}

.form1 p:hover {
    background-color: #0f1a32;
}

.form1 p.actived {
    background-color: #0f1a32;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form1 p.actived .content {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.form1 button {
    border-radius: 5px;
    padding: .65rem;
    font-size: 14px;
    outline: none;
    border: 1px solid #3a4a69;
    color: silver;
    background-color: #0f1a32;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.form1 .btns {
    display: flex;
    gap: 1rem;
}

.form1 .formData {
    border: 1px solid #3a4a69;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.form1 .formData .contentForm {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-bottom: 1rem;
}

.form1 .formData .contentForm label {
    width: 200px;
}

.form1 .formData .contentForm input {
    width: 100%;
    border-radius: 5px;
    padding: .65rem;
    font-size: 14px;
    outline: none;
    border: 1px solid #3a4a69;
    color: silver;
    background-color: #13203b;
}


.form1 .formText2 {
    height: 100px;
}

.form1 .main {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.form1 .main .card .head {
    background-color: #0f1a32;
    padding: 1rem;
    border-radius: 5px;

}

.form1 .main .card {
    border: 1px solid #293858;
    width: 300px;
    border-radius: 5px;
    background-color: #20345e;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form1 .main .card .body {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form1 .main .footer {
    border-top: 1px solid #111d36;
    text-align: center;
    padding: 1rem;
}

.form1 .form4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form4 select {
    width: 50%;
}

.form4 select option {
    background-color: #0f1a32 !important;
    height: 50px;
}

.form4 select option:hover {
    background-color: #0f1a32;
}

.form4 h5 {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
}

.form1 .multiTransfert {
    border: 1px solid #20345e;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    width: auto;
}

.form1 .multiTransfert .search {
    display: flex;
    justify-content: center;
    align-items: center !important;
}

.form1 .multiTransfert .search button {
    border-radius: 5px;
}


.form1 .multiTransfert input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: .65rem;
    font-size: 14px;
    outline: none;
    border: 1px solid #3a4a69;
    color: silver;
    background-color: #13203b;
    width: 40%;
}

.form1 .multiTransfert button {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    padding: .65rem;
    font-size: 14px;
    outline: none;
    border: 1px solid #3a4a69;
    color: silver;
    background-color: #0f1a32;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.dataMultipleInput {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.dataMultipleInput input {
    border-radius: 5px !important;
    padding: .65rem;
    font-size: 14px;
    outline: none;
    border: 1px solid #3a4a69;
    color: silver;
    width: 230px !important;
    background-color: #13203b;
}